@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background-color: #323232;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.container .slide {
  flex: 1;
  height: 100%;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  transition: all .8s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .slide.active {
  flex: 10;
}

.container .slide h3 {
  white-space: nowrap;
  color: #ffffff;
  position: absolute;
  bottom: 10px;
  left: 50px;
  opacity: 0;
  transition: all 1s ease;
  font-size: 30px;
}

.container .slide.active h3 {
  opacity: 1;
}